<h1>Welcome Instructors</h1>


 <form action="/success" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name" /> 
<BR>
    <label for="email">E-mail: </label>
    <input type="text" name="email" /> 
<BR>
    <label for="hometown">Hometown: </label>
    <input type="text" name="hometown" /> 
<BR>
    <label for="github">Github name: </label>
    <input type="text" name="github" /> 
<BR>
    <label for="funfact">Fun fact: </label>
    <input type="text" name="funfact" /> 
<BR>
	<label for="type">What sort of instructor are you? </label>
	<input type="text" name="type" /> 
<BR>
    <input type="submit" />
    </form>