<h1>Welcome Students</h1>



 <form action="/success" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name" /> 
<BR>
    <label for="email">E-mail: </label>
    <input type="text" name="email" /> 
<BR>
    <label for="type">Student or Instructor? </label>
    <input type="text" name="type" /> 
<BR>
    <label for="twitter">Twitter Name: </label>
    <input type="text" name="twitter" /> 
<BR>
    <label for="github">Github Name: </label>
    <input type="text" name="github" /> 
<BR>

    <input type="submit" />
    </form>